<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpg" %>
  </div>

  <div id="content">
    <h1>Hey, I'm Shareef Ahmed</h1>
    <p>Meh DIY gentrify chambray Blue Bottle umami. Dreamcatcher cardigan shabby chic Echo Park bespoke ethical. Bespoke cred narwhal leggings brunch, 3 wolf moon distillery dreamcatcher Tumblr actually tilde you probably haven't heard of them 8-bit. Truffaut Blue Bottle meh vegan, literally viral distillery authentic cray Bushwick raw denim iPhone pork belly. Hashtag lumbersexual retro selvage quinoa photo booth. Messenger bag drinking vinegar pickled plaid distillery art party 8-bit sriracha literally. Pop-up art party mlkshk scenester normcore meditation.</p>
  </div>
</div>
